body{
    font-family: "Open Sans", sans-serif;
    background-color: lightblue;

}
h2{
    font-style: italic;
}
li {
    display: inline-block;
    background-color: black;
    color: antiquewhite;
    border-right: 1px solid antiquewhite;
    border-left: 1px solid antiquewhite;
    text-align: center;
}
a {
    display: inline-block;
    background-color: black;
    color: antiquewhite;
    width: 100%; 
    height:50px ;
    padding-top: 25px;
    padding-left: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bold; 
    width: 100%; 
    text-align: center;
    background-color: black;
    justify-content: space-evenly;
}

li a:hover {
    background-color: antiquewhite;
    color: black;
}