body{
    font-family: "Open Sans", sans-serif;
    background-color: rgb(81, 193, 191);

}
h1{
    font-weight: bold;
    background-color: black;
    color: antiquewhite;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
h2{
    font-style: italic;
}
#navigation {
    display: flex;
    background-color: black;
    color: antiquewhite;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    font-weight: bold; 
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook {
    background: #1877F2;
    color: white;
}
.navbar a.active{
    background-color: antiquewhite;
    color: black;
}
.navbar a {
    color: antiquewhite;

    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
.navbar .icon {
    display: none;
  }

.navbar a:hover {
    background-color: antiquewhite;
    color: black;
}
.facebook{
    background-color: unset;
    color: unset;
}

.navbar {
    overflow: hidden;
  }
.navbar .icon {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    border-top: 1px black;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}
header{
    border-top: 1px black;
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
label{
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        display: flex;
        flex-direction: column;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: flex;
    }
}