body{
    font-family: "Open Sans", sans-serif;
    background-color: rgb(81, 193, 191);
    /* sets body styles */
}
h1{
    font-weight: bold;
    background-color: black;
    color: antiquewhite;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 3px antiquewhite;
    font-size: 50px;
    /* sets h1 styles */
}
h2{
    font-style: italic;
    margin-right: 70px;
    margin-left: 10px;
        /* sets h2 styles */
}
a{
    color: black;
    font-weight: bold;
}
img{
    width: 100%;
    height: auto;
        /* makes images responsive */
}
#phone{
    color: antiquewhite;
}
#beer{
    width: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: right;
        /* sets size of cask image*/
}
#bowling{
    width: 60%;
    height: auto;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    /* sets size of bowling green image*/
}
#trophy{
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
        /* sets size of cask image*/
}
#logo{
    background-color: black;
    color: rgb(206, 125, 125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* sets the styles and positions for the logo*/
}
#navigation {
    display: flex;
    background-color: black;
    color: antiquewhite;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    font-weight: bold; 
    border: 3px antiquewhite;
    /* sets the styles and positions for the wide screen navbar*/
}
.social {
    font-size: 28px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bolder;
    display: inline-block;
/* sets the styles and positions for the facebook button*/
}
iframe{
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    padding-bottom: 50px;
    /* sets the styles and positions for the embedded facebook posts*/
}
#contact{
    font-size: 30px;
    margin-top: 9px;
    /* sets the styles and positions for the contacts book icon*/
}
#facebook {
    background: #1877F2;
    text-align: center;
    color: white;
/* sets the styles and positions for the facebook button*/
}
.navbar a.active{
    background-color: antiquewhite;
    color: black;
        /* sets the styles and positions for the active page on the wide screen navbar*/
}
.navbar a {
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
        /* sets the styles and positions for the links on the wide screen navbar*/
}
.navbar .icon {
    display: none;
        /* hides navbar icon when widescreen*/
  }

.navbar a:hover {
    background-color: antiquewhite;
    color: black;
            /* sets the styles and positions for the links you hover over on the wide screen navbar*/
}
.navbar {
    overflow: hidden;
            /* doesnt allow text to overflow*/
  }
.navbar .icon {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
            /* sets the styles and position for the navbar icon on the small screen navbar*/
}
footer{
    border: 3px antiquewhite;
    background-color: black;
    color: antiquewhite;
    font-weight: bold;
            /* sets the footer styles*/
    
}
header{
    border: 3px antiquewhite;
    font-weight: bold;
    /* sets the header styles*/
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* sets the contact form style*/
}
label{
    font-weight: bold;
        /* sets the contact form lables style*/
}
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}    /* changes the navbar to just show home when screen is small*/
  
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        display: flex;
        flex-direction: column;}    /* sets the position of the items in the small screen nav bar to display in a column*/
    .navbar.responsive a.icon {
      position: absolute;    /* sets the position of the small screen nav bar icon*/
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: flex;
      /* sets the position of the small screen nav bar */
    }
}

@media screen and (max-width: 600px) {
    .fbreviews {
        display: flex;
        flex-direction: column;
        height: 640px;

    }/* sets the position of the facebook reviews to change when screen size changes*/
    .fbreviews iframe {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        height: 320px;
        overflow-y: scroll;
    }/* sets the size of the facebook reviews to change when screen size changes*/
}
